{% assign publications = site.data.data.accomplishments %}
{% if accomplishments %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ accomplishments.title }}
  </h2>

  {% if accomplishments.intro %}
  <div class="intro">
    {{ accomplishments.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for accomplishment in accomplishments.certificates %}
  <div class="item">
    <div class="publication-title">{{ accomplishment.title }}</div>
    <div class="publication-authors">{{ accomplishment.authors }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
